{:deps {metosin/malli {:git/url "https://github.com/metosin/malli.git"
                       :sha "bbd4589603129f648a97c994d3fb1386ee69270e"}}
 :aliases {:test  {:extra-paths ["test"]}
           :dev   {:extra-paths ["dev/src"]}
           :repl/rebel
           {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                         cider/cider-nrepl          {:mvn/version "0.26.0"}
                         com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "-i"
                         "-f" "rebel-readline.main/-main"]}}}
