{:deps {metosin/malli {:mvn/version "0.8.4"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test              {:extra-paths ["test"]
                               :extra-deps {metosin/reitit {:mvn/version "0.5.18"}
                                            http-kit/http-kit {:mvn/version "2.5.3"}
                                            ring/ring-core          {:mvn/version "1.9.5"}
                                            ring/ring-jetty-adapter {:mvn/version "1.9.5"}
                                            rum/rum {:mvn/version "0.12.9"
                                                     :exclusions [cljsjs/react cljsjs/react-dom]}
                                            criterium/criterium {:mvn/version "0.4.6"}}}
           :dev               {:extra-paths ["dev/src"]}
           :repl/rebel        {:extra-deps {nrepl/nrepl                 {:mvn/version "0.9.0"}
                                            cider/cider-nrepl           {:mvn/version "0.28.3"}
                                            com.bhauman/rebel-readline  {:mvn/version "0.1.4"}}
                               :main-opts  ["-m" "nrepl.cmdline"
                                            "--middleware" "[cider.nrepl/cider-middleware]"
                                            "-i"
                                            "-f" "rebel-readline.main/-main"]}
           :cloverage         {:extra-deps {cloverage/cloverage {:mvn/version "1.2.3"}}
                               :main-opts ["-m" "cloverage.coverage"
                                           "--ns-regex" "malli-forms*"
                                           "--ns-exclude-regex" ".*test"
                                           "--test-ns-regex" ".*test"]}
           :outdated          {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.1"}}
                               :main-opts ["-m" "antq.core"]}
           :test/cognitect    {:extra-deps {io.github.cognitect-labs/test-runner  {:git/tag "v0.5.0"
                                                                                   :git/sha "b3fd0d2"}}
                               :exec-fn cognitect.test-runner.api/test
                               :exec-args {:patterns [".*-test$" "malli-forms\\.test\\..*"]}}}}
